## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[11, 92, 50, 55, 37, 99, 88, 51, 21, 63, 47, 82, 30, 71, 28, 87, 95, 39, 26, 34, 75, 91, 27, 16, 31, 49, 24, 84, 7, 40, 74, 5, 68, 43, 57, 78, 23, 15, 48, 83, 10, 18, 17, 54, 2, 32, 77, 4, 64, 93, 81, 3, 33, 29, 41, 67, 70, 42, 97, 72, 14, 61, 94, 66, 62, 98, 6, 45, 36, 76, 52, 65, 20, 38, 22, 69, 96, 8, 19, 90]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))
print(sample_list_2)
print(len(sample_list_2))

[65, 6, 42, 9, 84, 43, 34, 84, 21, 44, 18, 70, 41, 36, 65, 29, 15, 55, 7, 98, 87, 92, 20, 62, 86, 22, 52, 12, 91, 54, 0, 55, 65, 99, 30, 26, 57, 73, 45, 90, 99, 81, 26, 50, 50, 53, 72, 91, 89, 93, 35, 66, 77, 21, 79, 83, 34, 6, 91, 87, 82, 35, 78, 14, 96, 86, 59, 85, 71, 94, 71, 46, 1, 70, 47, 67, 56, 18, 60, 2]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{0, 1, 2, 6, 7, 9, 12, 14, 15, 18, 20, 21, 22, 26, 29, 30, 34, 35, 36, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 65, 66, 67, 70, 71, 72, 73, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 96, 98, 99}
62

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{3, 4, 5, 8, 10, 11, 16, 17, 19, 23, 24, 27, 28, 31, 32, 33, 37, 38, 39, 40, 48, 49, 51, 61, 63, 64, 68, 69, 74, 75, 76, 88, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{0, 1, 35, 9, 73, 12, 44, 46, 79, 53, 85, 86, 56, 89, 59, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 6, 7, 14, 15, 18, 20, 21, 22, 26, 29, 30, 34, 36, 41, 42, 43, 45, 47, 50, 52, 54, 55, 57, 62, 65, 66, 67, 70, 71, 72, 77, 78, 81, 82, 83, 84, 87, 90, 91, 92, 93, 94, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
# Your code here
print('El len de set 1 es: ', len(set1))
print('El len de set 2 es: ', len(set2))
print('El len de set 3 es: ', len(set3))
print('El len de set 4 es: ', len(set4))
print('El len de set 5 es: ', len(set5))

El len de set 1 es:  80
El len de set 2 es:  62
El len de set 3 es:  34
El len de set 4 es:  16
El len de set 5 es:  46

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [14]:
# Your code here
set6.update(set3 and set5)
print(set6)
print(len(set6))

{2, 6, 7, 14, 15, 18, 20, 21, 22, 26, 29, 30, 34, 36, 41, 42, 43, 45, 47, 50, 52, 54, 55, 57, 62, 65, 66, 67, 70, 71, 72, 77, 78, 81, 82, 83, 84, 87, 90, 91, 92, 93, 94, 96, 98, 99}
46

#### Check if `set1` and `set6` are equal.

In [15]:
# Your code here
set7 = set1.difference(set6)
print(set7)

# No son iguales al mostrarse todos aquellos valores que no coinciden de set6 en set1

{3, 4, 5, 8, 10, 11, 16, 17, 19, 23, 24, 27, 28, 31, 32, 33, 37, 38, 39, 40, 48, 49, 51, 61, 63, 64, 68, 69, 74, 75, 76, 88, 95, 97}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
# Your code here
set1.issubset(set2)

False

In [20]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [22]:
# Your code here
set8 = set3.union(set4, set5)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [23]:
set8 = set8.union(set1, set2)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [24]:
# Your code here

# Los sets no cuenta con posición fija de sus elementos por lo que el método pop eliminará un elemento al azar. Sí se puede
# saber el elemento que se elimina
j = set1.pop()
print(j)

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [26]:
# Your code here
list_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])
remaining_elements = list_to_remove.difference(set1)
print(remaining_elements)

{1, 9, 79, 89, 59}